<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${article.title}">게시글</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container py-4">

<!-- 글 영역 -->
<div class="mb-5">
    <h2 id="title" th:text="${article.title}">제목</h2>
    <p class="text-muted" th:text="'작성자: ' + ${article.author}">작성자</p>
    <hr>
    <div id="content" th:text="${article.content}">본문</div>

    <div th:if="${loginEmail == article.author}">
        <button type="button" id="modify-btn"
                th:onclick="|location.href='@{/new-article?id={articleId}(articleId=${article.id})}'|"
                class="btn btn-outline-secondary btn-sm">수정</button>
<!--        class="btn btn-secondary btn-sm" 배경 검은색 버튼-->
        <button type="button" id="delete-btn"
                class="btn btn-outline-secondary btn-sm">삭제</button>
    </div>
    <button type="button" id="list"
            th:onclick="|location.href='@{/articles}'|"
            class="btn btn-outline-secondary btn-sm">목록</button>

</div>


<!-- 댓글 영역 -->
<div class="mb-5">
    <h4>댓글</h4>
    <div th:if="${#lists.isEmpty(comments)}" class="text-muted">아직 댓글이 없습니다.</div>

    <ul class="list-group mb-3" th:if="${!#lists.isEmpty(comments)}">
        <li class="list-group-item" th:each="comment : ${comments}">
            <p class="mb-1" th:text="${comment.content}">댓글 내용</p>
            <small class="text-muted" th:text="'작성자: ' + ${comment.author} + ' | ' + ${#temporals.format(comment.createAt, 'yyyy-MM-dd HH:mm')}">
                작성자 | 작성일
            </small>
            <input type="button" value="삭제"
                   th:if="${loginEmail == comment.author}"
                   th:attr="data-comment-id=${comment.id}"
                   class="btn btn-sm btn-outline-danger delete-comment-btn">

        </li>
    </ul>

    <!-- 댓글 작성 폼 -->
    <form id="comment-form">
        <div class="mb-3">
            <label for="comment-content" class="form-label">댓글 작성</label>
            <textarea class="form-control" id="comment-content" rows="3" placeholder="댓글을 입력하세요"></textarea>
        </div>
        <button id="submit-comment" type="submit" class="btn btn-primary">등록</button>
    </form>
</div>

<script th:inline="javascript">
    const articleId = [[${article.id}]];
</script>
<script src="/js/article.js"></script>
<script src="/js/comment.js"></script>
</body>
</html>
